input[type=number],
input[type=search] {
	background: transparent;
	border: none;
	border-bottom: 1px solid #BBB;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	display: block;
	height: 2em;
	width: 100%;
	line-height: 1.2;
	margin: 0 0 .75em;
	outline: none;
	padding: .25em .5em;
	transition: border-color 200ms ease-in-out;
}

	input[type=number]:focus,
	input[type=search]:focus {
		border-bottom-color: #35353E;
		transition: border-color 200ms ease-in-out;
	}

input[type=number].input--white,
input[type=search].input--white {
	border-bottom-color: #FFF;
	color: #FFF;
}

.radio {
	overflow: hidden;
	padding: .25em;
	position: relative;
	margin-right: 1em;
	margin-bottom: 1em;
}

	.radio input[type="radio"] {
		opacity: 0;
		position: absolute;
	}

		.radio input[type="radio"] + label {
			cursor: pointer;
			padding-left: 24px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

			.radio input[type="radio"] + label:before,
			.radio input[type="radio"] + label:after {
				background: #FFF;
				background-clip: padding-box;
				border: 2px solid #666;
				border-radius: 50%;
				content: "";
				display: block;
				height: 20px;
				width: 20px;
				position: absolute;
				top: 5px;
				left: 0;
				transition: all 300ms ease;
			}

				.radio.radio--white input[type="radio"] + label:before,
				.radio.radio--white input[type="radio"] + label:after {
					background: transparent;
					border: 2px solid #FFF;
				}

			.radio input[type="radio"] + label:after {
				background: #5BC0DE;
				border: 3px solid #FFF;
				-webkit-transform: scale(0);
				transform: scale(0);
				transform-origin: 50% 50%;
				-webkit-transform-origin: 50% 50%;
				-webkit-transition: all 300ms ease;
				transition: all 300ms ease;
			}

				.radio.radio--white input[type="radio"] + label:after {
					background: #FFF;
				}

			.radio input[type="radio"]:focus + label:before {
				box-shadow: 0 0 5px #5BC0DE;
			}

				.radio.radio--white input[type="radio"]:focus + label:before {
					box-shadow: 0 0 5px #FFF;
				}

			.radio input[type="radio"]:checked + label:before {
				border-color: #5BC0DE;
			}

				.radio.radio--white input[type="radio"]:checked + label:before {
					border-color: #FFF;
				}

			.radio input[type="radio"]:checked + label:after {
				-webkit-transform: scale(.8, .8);
				transform: scale(.8, .8);
			}

			.radio input[type="radio"][disabled] + label {
				color: #CCC;
			}

				.radio input[type="radio"][disabled] + label:before {
					border-color: #CCC;
				}

				.radio input[type="radio"][disabled]:checked + label:before,
				.radio input[type="radio"][disabled]:checked + label:after {
					background: #CCC;
				}

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: transparent;
	border: none;
	box-shadow: 0 0 15px rgba(0, 0, 0, .4);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	line-height: normal;
	margin-top: .8125em;
	margin-bottom: .8125em;
	opacity: 1;
	padding: .75em;
	position: relative;
	text-align: center;
	text-decoration: none;
}

	.button--green {
		background-color: #59AC59;
	}

	.button--fab {
		border-radius: 3.5em;
		box-shadow: 0 0 8px rgba(0, 0, 0, .4);
		height: 3.5em;
		width: 3.5em;
		transition: .2s;
		transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
	}

		.button--fab span {
			font-size: 1.375em;
		}

		.button--fab:focus, .button--fab:hover {
			box-shadow: 0 4px 15px rgba(0, 0, 0, .4);
			-webkit-transform: translateY(-.125em);
			transform: translateY(-.125em)
			transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
		}
